<div class="container">

    <!-- <div class="title-bar">{{ projectTitle() }}</div> -->

    <div class="sidebar">
        <app-sidebar-pane [title]="'Workspace'">
                <app-project-list 
                [(project)]="project" 
                [(projects)]="projects" 
                (projectChange)="projectChange($event)"
                (onSelectProject)="selectProject($event)" 
                (onSelectComponent)="selectComponent($event)"
                (onSelectService)="selectService($event)"
                (onDelete)="onDelete($event)"></app-project-list>
        </app-sidebar-pane>
    </div>

    <div class="content">
        <app-code-editor [(codeEdit)]="editModel"></app-code-editor>
    </div>
 
    <div class="sidebar right">

        <app-sidebar-pane [title]="'Editors'">
                <app-button (click)="editors.toggleWrap()">Toggle Wrap</app-button>
        </app-sidebar-pane>

        <app-sidebar-pane [title]="'Active'">

            <app-accordian [title]="'Actions'">
                <app-button (click)="saveProject()">Save</app-button>
                <app-button (click)="preview()">Preview</app-button>
            </app-accordian>
            
            <app-accordian [title]="'Project'">
                <app-input [(value)]="project.name">Name</app-input>
            </app-accordian>

            <app-accordian [title]="'Component'">
                <div *ngFor="let comp of project.components">
                    <app-input [(value)]="comp.name" *ngIf="comp.active">Name</app-input>
                </div>
            </app-accordian>

        </app-sidebar-pane>

        <app-sidebar-pane [title]="'Create'">

            <app-accordian [title]="'Clone Project'">
                <app-input [(value)]="cloneModel.name">Name</app-input>
                <app-input [(value)]="cloneModel.project" [type]="'select'" [data]="projects">Project Name</app-input>
                <app-button (click)="cloneProject()">Clone</app-button>
            </app-accordian>

            <app-accordian [title]="'New Project'">
                <app-input [(value)]="createModels.project.name">Name</app-input>
                <app-input [(value)]="createModels.project.description">Description</app-input>
                <app-input [(value)]="createModels.project.framework" [type]="'select'" [data]="frameworks">Framework</app-input>
                <app-button (click)="createProjects()">Create</app-button>
            </app-accordian>

            <app-accordian [title]="'New Component'">
                <app-input [(value)]="createModels.component.name">Name</app-input>
                <app-input [(value)]="createModels.component.description">Description</app-input>
                <app-button (click)="createComponent()">Create</app-button>
            </app-accordian>

            <app-accordian [title]="'New Service'">
                <app-input [(value)]="createModels.service.name">Name</app-input>
                <app-input [(value)]="createModels.service.description">Description</app-input>
                <app-button (click)="createService()">Create</app-button>
            </app-accordian>

        </app-sidebar-pane>

        <app-sidebar-pane [title]="'Utils'">

                <app-input [type]="'select'" [(value)]="comopnentCreate" [data]="project.components">Component</app-input>
                <app-button (click)="editors.insertTag(comopnentCreate)">Create</app-button>

                <ul class="group">
                    <li *ngFor="let util of editors.utils">
                        <app-button [group]="true" (click)="util.action()"><i [ngClass]="util.icon"></i></app-button>
                    </li>
                </ul>

                
        </app-sidebar-pane>


    </div>

    <div class="footer"></div>
    
</div>
     
<app-toast #toast></app-toast>