$sidebar-width : 17%;
$sidebar-right-width : 17%;
$content-width : calc(100% - #{$sidebar-width} - #{$sidebar-right-width});

$footer-height : 20px;
$topbar-height : 30px;
$titlebar-height : 20px;

$base-color : #666;
$light-color : rgb(0, 109, 164);
$dark-color : #333;

$text-dark : #333;
$text-light : rgb(179, 179, 179);

// ROOT
.container {

    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: block;
    overflow: hidden;
    & .title-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: $topbar-height;
        width: 100%;
        right: 0;
        background: $base-color;
        color : $text-dark;
        text-align: center;
        font-size: 14px;
        padding-top: 1px;
        font-weight: bolder;
    }
    & .top {
        position: absolute;
        top: $titlebar-height;
        left: 0;
        height: $topbar-height;
        background: $dark-color;
        width: 100%;
        right: 0;
        z-index: 99;
        & .left {
            position: absolute;
            height: 100%;
            border-right: 1px solid;
            width: $sidebar-width;
        }& .center {
            position: absolute;
            height: 100%;
            width: $content-width;
            left: $sidebar-width;
            background: $dark-color;
        }
        & .right {
            position: absolute;
            height: 100%;
            width: $sidebar-right-width;
            right: 0;
            background: $dark-color;
        }
    }

    & .sidebar {
        width: $sidebar-width;
        position: absolute;
        height: auto;
        top : calc(#{$topbar-height} + #{$titlebar-height});
        bottom: $footer-height;
        left: 0;
        background: #444;
        border-right: 1px solid;
        overflow-y: auto;
        & > label {
            width: 100%;
            background: #111;
            color: #fff;
            display: block;
            text-align: center;
            font-size: 12px;
            padding: 3px 0;
        }
        & .block {
            width: 100%;
            display: block;
            padding: 5px;
        }
        &.right{
            right : 0;
            left : unset;
        }
        & .options {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 12px;
            & > li {
                border-bottom: 1px solid #00000026;
            }
            & li {
                color: $text-light;
                position: relative;
                & button.close-btn {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    background: none;
                    border: none;
                    color: red;
                    font-size: 10px;
                   
                }
                & button.collapse-btn {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    background: none;
                    border: none;
                    color: white;
                    font-size: 10px;
                    pointer-events: none;
                }
                &.active > span > i{
                    color: $light-color;
                }
                & span {
                    padding: 5px;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                &:last-child{
                    border-bottom : none
                }
                & ul.dropdown-menu, .accordian-menu {
                    padding: 0;
                    margin: 0;
                    display: none;
                    padding-left: 20px;
                    list-style: none;
                    & li {
                        padding: 0px 5px;
                    }
                }
            }
            &.accordian{
                & li {
                    padding: 0px 0;
                }
                & .dropdown-menu, .accordian-menu {
                    padding: 0 !important;
                    margin-top: 10px !important;
                }
                & span {
                    background: #333;
                    border-left: 2px solid $light-color;
                }
            }
        }
    }

    & .content {
        width: $content-width;
        position: absolute;
        top : calc(#{$topbar-height} + #{$titlebar-height});
        height: auto;
        bottom: $footer-height;
        left: $sidebar-width;
        background: #fff;
    }

    & .footer {
        width: 100%;
        position: absolute;
        height: $footer-height;
        bottom : 0;
        left: 0;
        background: $light-color;
    }
}

ul.group {
    list-style: none;
    padding: 0;
    margin: 5px;
    font-size: 12px;
    & li {
        display: inline-block;
        width: 50%;
        text-align: center;
        background: #666;
        outline: 1px solid rgba(0,0,0,0.4);
        color: $text-light;
        padding: 5px 0px;
        &.active{
            background: #111;
            border-top: 2px solid $light-color;
        }
    }
}

// TABS
ul.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-y: hidden;
    & li {
        display: inline-block;
        color: #111; 
        padding: 7px 15px;
        font-size: 11px;
        background: #444;
        margin-top: -1px;
        border-left: 1px solid #000;
        transition: 0.3s ease-in-out background;
        &.active{
            background: #111; 
            border-top: 2px solid $light-color;
            margin-top: 2px;
            color : $text-light;
        }
        &:first-child{
            border-left : none;
        }
    }
}


//inputs

.input {
    margin-bottom: 10px;
    & label {
        font-size: 11px;
        color : $text-light;
        float : left;
    }
    & input, select {
        width: 100%;
        background: $dark-color;
        border: 0;
        margin: 5px 0;
        height: 25px;
        color: $text-light;
        padding: 0 0 0 3px;
        font-size: 11px;
    }
    & input[type="checkbox"] {
        float: right;
        width: 20px;
        display: block;
        margin: 0;
        height: 20px;
        margin-bottom: 10px;
    }
}



button.btn {
    &.full-width{
        width: 100%;
    }
    background: $dark-color;
    border: none;
    height: 25px;
    color: $text-light;
    font-size: 12px;
    margin-bottom: 5px;
    &:hover{
        background: $light-color;
        transition: 0.2s ease-in-out all; 
        color : $dark-color;
    }
    &.primary {
        background: $light-color;
        color : $dark-color;
    }
}

.btn-group{
    .btn {
        width: 50%;
        outline: 1px solid;
    }
}





.modal {
    position: absolute;
    top : 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    background : #666;
    z-index: 999;
    transform : translate3d(-50%, -50%, 0);
    display : none;
}

.toast {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 300px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    border-left: 2px solid $light-color;
    display: none;
}